/* Styles go here */


body {
  background: url(light_grey.png);
}

#wrapper {
  width: 500px;
  margin:auto;

  margin-top: 50px;
  position:relative;

}

strong {
  color: #FF7000;
}
#desc {
  position:absolute;
  left: 500px;
  top: 120px;
  width: 200px;
  font-size: 20pt;
  letter-spacing: 1px;
}
.sliderBook {
  list-style-type: none;
  position: relative;
  
  -webkit-perspective : 1500px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(-5deg) rotateY(0deg);

}

.sliderBook li {
  width: 400px;
  height: 400px;
  border-left: 20 px solid black;
  position: absolute;
  background-color: white;
  transition: all 2s ease;
  -webkit-transform-origin: top left;

  border: 5px solid #000;
  border-left: 4px solid black;

}


.sliderBook li img {
   height: 100%;
   width: 100%;
}

.p1 {
   -webkit-transform: rotateY(-30deg);@
}

.p2 {
  -webkit-transform: rotateY(-22deg);
}

.p3 {
  -webkit-transform: rotateY(-14deg);
}

.p4 {
   -webkit-transform: rotateY(-6deg);
}

.p5 {
   -webkit-transform: rotateY(0deg);
}
